<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lights on!</title>
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

	<meta name="title" content="Lights on!">
    <meta name="description" content="Turn on all the lights. A remake of the popular puzzle game written in PixiJS.">
    <meta name="keywords" content="puzzle, lights, lights out, lights on, leonhard, tissen, game, pixijs, pixi, warze">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Leonhard Tissen">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://lightson.warze.org">
    <meta property="og:title" content="Lights on!">
    <meta property="og:description" content="Turn on all the lights. A remake of the popular puzzle game written in PixiJS.">
    <meta property="og:image" content="https://lightson.warze.org/meta.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@leonhard_tissen">
    <meta name="twitter:creator" content="@leonhard_tissen">
    <meta name="twitter:url" content="https://lightson.warze.org/">
    <meta name="twitter:title" content="Lights on!">
    <meta name="twitter:description" content="Turn on all the lights. A remake of the popular puzzle game written in PixiJS.">
    <meta name="twitter:image" content="https://lightson.warze.org/meta.png">

    <meta name="theme-color" content="#111111">

	<%= htmlWebpackPlugin.tags.headTags %>
</head>
<body>
	<div id="overlay">
		<h1 id="levelText">Level <span id="levelNum">1</span></h1>
	</div>
    <span id="bestpossible"><span id="bestpossibletext">2</span> clicks</span>
    <div id="restart">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
            <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
        </svg>
    </div>
	<%= htmlWebpackPlugin.tags.bodyTags %>
</body>
</html>
