<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lights on!</title>
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

	<meta name="title" content="Lights on!">
    <meta name="description" content="Turn on all the lights. A remake of the popular puzzle game written in PixiJS.">
    <meta name="keywords" content="puzzle, lights, lights out, lights on, leonhard, tissen, game, pixijs, pixi, warze">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Leonhard Tissen">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://lightson.warze.org">
    <meta property="og:title" content="Lights on!">
    <meta property="og:description" content="Turn on all the lights. A remake of the popular puzzle game written in PixiJS.">
    <meta property="og:image" content="https://lightson.warze.org/meta.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@leonhard_tissen">
    <meta name="twitter:creator" content="@leonhard_tissen">
    <meta name="twitter:url" content="https://lightson.warze.org/">
    <meta name="twitter:title" content="Lights on!">
    <meta name="twitter:description" content="Turn on all the lights. A remake of the popular puzzle game written in PixiJS.">
    <meta name="twitter:image" content="https://lightson.warze.org/meta.png">

	<%= htmlWebpackPlugin.tags.headTags %>
</head>
<body>
	<div id="overlay">
		<h1 id="levelText">Level <span id="levelNum">1</span></h1>
	</div>
	<%= htmlWebpackPlugin.tags.bodyTags %>
</body>
</html>
