<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>pixiKickoff</title>
	<%= htmlWebpackPlugin.tags.headTags %>
</head>
<body>
	<div id="overlay">
		<h1 id="levelText">Level <span id="levelNum">1</span></h1>
	</div>
	<%= htmlWebpackPlugin.tags.bodyTags %>
</body>
</html>
